@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

:root {
    --color-primary: #644BBA;
    --color-primary-hover: rgba(100, 75, 186, 0.08); 
    --color-primary-focus: rgba(100, 75, 186, 0.12); 
    --color-primary-chip-active: rgba(136, 75, 186, 0.18); 
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #79757F;

}
  
.btn-primary-filled {
    text-transform: none;
    border: none;
    width: Hud(83px);
    height: Hud(40px);
    border-radius: 100px;
}

.btn-primary-filled:hover {
    background-color:rgba(100, 75, 186, 0.92);
}

.btn-primary-filled:focus, .btn-primary-text:active {
    background-color:rgba(100, 75, 186, 0.88);
}

.btn-primary-outlined {
    text-transform: none;
    width: Hud(83px);
    height: Hud(40px);
    padding: 10px, 24px, 10px, 24px;
    border-radius: 100px;
    border-color: var(--color-gray);
}

.btn-primary-outlined:hover{
    background-color: var(--color-primary-hover);
    border-color: var(--color-gray);
}

.btn-primary-outlined:focus {
    background-color: var(--color-primary-focus);
    border-color: var(--color-primary);
}

.btn-primary-outlined:active {
    background-color: var(--color-primary-focus);
    border-color: var(--color-gray);
}

.btn-primary-text {
    text-transform: none;
    border: none;
    width: Hud(83px);
    height: Hud(40px);
    border-radius: 100px;
}

.btn-primary-text:hover {
    background-color: var(--color-primary-hover);
}

.btn-primary-text:focus, .btn-primary-text:active {
    background-color: var(--color-primary-focus);
}

.switch {
    display: flex;
    width: 180px;
    height: Hud(48px);
    padding: 2px;
    border: 1.5px solid var(--color-primary);
    border-radius: 50px;
    gap: 15px;
}

.card {
    width: 323px;
    height: Hug (282px);
    padding: 10px, 20px, 20px, 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 0px #00000026;
    gap: 8px;
}

.cardPulse {
    width: 323px;
    height: Hug (939px);
    top: 20px;
    left: 20px;
    gap: 15px;
}

.chips {
    width: Hug (59px);
    height: Fixed (32px);
    border-radius: 8px;
}

.tableContainer {
    justify-content: center;
    display: flex;
    width: Hug (1,118px);
    height: Hug (460px);
    border-radius: 10px;
    gap: 10px;
}

.navbar {
    display: flex;
    width: 100%;
    height: 64px;
    padding: 10px, 61px, 10px, 61px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px 0px #0000001A;
}

.navbarButtons {
    display: flex;
    width: 415px;
    gap: 25px;
}

.mainConteiner {
    width: 1,390px;
    height: 870px;
    top: 64px;
    left: 61px;
    padding: 35px, 0px, 0px, 0px;
    gap: 25px;
    display: flex;
}
  